* {
    * margin:0px;
    * padding:0px;
    * box-sizing:border-box;
    * }

.menu-container {
      color: #fff;
        background-color: #5995DA;  /* Blue */
          padding: 20px 0;
          display:flex;
          justify-content:center;

}

.menu {
      border: 1px solid #fff;  /* For debugging */
        width: 900px;

        display:flex;
        justify-content:space-between;/*vs space around*/
}
/* we are still just moving a bunch of nested boxes around */
/* flexbox manipulates items by adding properties to the parent items */
