
body {
      color: #414141;               /* Dark gray */
        background-color: #EEEEEE;    /* Light gray */
        font-size: 18px; /*setting base font for document*/
}
h1,h2,h3,h4,h5,h6{
font-family: 'Helvetica', 'Arial',sans-serif;}

/* web fonts vs system fonts. The above defaults to system default fonts in case en users' system dosn't have the first two fonts. */

/*list styles*/
ul {
    list-style-type: circle;
}

ol{
    list-style-type:lower-roman;
}
